{% extends 'FrontEnd/base/base.html' %}

{% block import %}

{% load static%}
<link rel="stylesheet" href="{% static 'css/news_list/news_list.css' %}">
<link rel="stylesheet" href="{% static 'css/fontawesome-free-6.0.0-web/css/all.min.css' %}">

{% endblock %}

{% block main %}

<section class="container-0">
    <div class="title-1"><img src="../../../../static/img/news-list/img.png">所有公告</div>    
        
        <div class="rightspace">
            <span class="fa-solid fa-wrench"></span>
            <div class="wire">
                <p class="content-1">公告</p>
            </div>
            <span class="fa-solid fa-gavel"></span>
            <div class="wire">
                <p class="content-1">課程</p>
            </div>
            <span class="fa-solid fa-hammer"></span>
            <p class="content-1">空間/設備</p>
        </div>
        <input class="searchbox" type="text" v-model="search" placeholder="Search.." />
    

    <div class="container-1">
        <div class="newbox">
            <div class="datebox">
                <p class="date">2022<br>　/<br>01.29</p>
            </div>
            <div class="whitebox">
                <div class="second_title">公告標題標題標題標題標題標...</div>
            </div>
        </div>


    </div>

</section>



{% endblock %}