.cintainer-0 {
    font-family: Roboto;
    font-style: normal;
    justify-content: center;
}

.container-1 {
    margin:auto;
    padding-top: 60px;
    /*position: relative;*/
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-left: 12%;
}

.searchspace {
    width: 67%;
    margin: auto auto 20px;
}

.searchbox {
    width: 14%;
    height: 35px;
    position: static;
    margin-top: -45px;
    float: right;
    background-color: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 70%;
}

.rightspace {
    display: block;
    align-items: center;
    width: 196px;
    /*height: 50%;*/
    float: left;
    position: absolute;
    font-size: 20px;
    line-height: 26px;
    text-shadow: 1px 1px 0.5px rgba(106, 106, 106, 0.67);
    margin-left: 10%;
    margin-top: 60px;
}

.content {
    margin: auto 12px auto 10px;
    cursor: pointer;
}

.extraset {
    margin-left: 7px;
    margin-right: 35px;
}

.color-1 {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    text-align: justify;
}

.color-1:hover {
    background-color: #f5a626;
    color: #ffffff;
    padding: 2px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    text-align: justify;
    font-size: 21px;
}

.color-2 {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}

.color-2:hover {
    background-color: #7dc3c2;
    color: #ffffff;
    padding: 2px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    text-align: justify;
    font-size: 21px;
}

.color-3 {
    display: flex;
    align-items: center;
    margin-left: 10px;
    text-align: justify;
}

.color-3:hover {
    background-color: #00908d;
    color: #ffffff;
    padding: 2px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    text-align: justify;
}


.box {
    cursor: pointer;
    width: 324px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 26px;
    padding: auto;
    background-color: #7dc3c2;
    border: 3px solid #7dc3c2;
}


.coursephoto {
    width: 176px;
    height: 122.1px;
    float: right;
    background-color: #ffffff ;
}

.boxcontent {
    display: flex;
}
.classtitle {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    width: 155px;
    float: left;
    margin: auto 2px;
}

@media (max-width:1340px) {
    .rightspace {
        float: right;
        margin-right: -10px;
        display: block;
    }
    .wire {
        border-right: none;
    }
}
@media (max-width:497px) {
    .rightspace {
        float: left;
    }
    .box{
        margin: auto auto 30px;
    }
}
@media (max-width: 1280px) {
    .rightspace{
        font-size: 18px;
    }
    .color-1:hover {
        font-size: 20px;
    }
    .color-2:hover {
        font-size: 20px;
    }
    .classtitle {
        font-size: 22px;
        line-height: 26px;
    }
    .searchbox {
        margin-right: 5%;
    }
    .container-1 {
        padding-left: 15%;
    }
    .extraset {
        margin-right: 49px;
    }
}

@media (max-width: 991px) {
    .searchbox {
        width: 30%;
    }
}

@media (max-width: 767px) {
    .classtitle {
        font-size: 20px;
        line-height: 24px;
    }
    .rightspace {
        position: relative;
        float: left;
        width: auto;
    }
    .container-1 {
        padding-left: 0%;
    }
}

@media (max-width: 400px) {
    .box {
        width: 315px;
    }
}

@media (max-width: 280px) {
    .box {
        width: 270px;
    }
}