.context-1 {
    font-family: Roboto;
    font-style: normal;

}

.container-1 {
    display: flex;
    align-items: center;
    font-size: 36px;
    line-height: 42px;
    margin: auto;
    width: 80%;
    /*flex-flow: row wrap;*/
    justify-content: center;
    line-height: 56px;
    font-size: 48px;
    padding-top: 85px;
    padding-bottom: 90px;
    text-shadow: 1px 1px 0.5px rgba(106, 106, 106, 0.67);
}

.contenttext-0 {
    display: flex;
    align-items: center;
    font-size: 36px;
    line-height: 42px;
    margin: auto;
    width: 80%;
    padding: auto;
    height: 70px;
    text-shadow: 1px 1px 0.5px rgba(106, 106, 106, 0.67);
}

.contenttext-1 {
    display: flex;
    font-size: 36px;
    line-height: 42px;
    margin: 100px auto 30px auto;
    width: 80%;
    text-shadow: 1px 1px 0.5px rgba(106, 106, 106, 0.67);
}

.img {
    display: block;
    margin: 30px auto;
}


@media (max-width: 1280px) {
    .contenttext-0 {
        font-size: 30px;
        line-height: 33px;
    }
    .contenttext-1{
        font-size: 30px;
        line-height: 33px;
    }
    .container-1 {
        font-size: 40px;
        line-height: 46px;
    }
}

@media (max-width: 850px) {
    .contenttext-0 {
        font-size: 24px;
        line-height: 28px;
    }
    .contenttext-1{
        font-size: 24px;
        line-height: 28px;
    }
    .container-1 {
        font-size: 35px;
        line-height: 40px;
    }
}