{% extends 'FrontEnd/base/base.html' %}

{% block import %}

{% load static%}
<link rel="stylesheet" href="{% static 'css/members_intro/members_intro.css' %}">

<script src="{% static 'js/vue.js' %}"> </script>
<script src="{% static 'js/axios.min.js' %}"> </script>

{% endblock %}

{% block main %}

<section class="container-1" id="app">
    <input class="searchbox" type="text" v-model="search" placeholder="Search ..." />
    <div class="title-1">成員快訊</div>
    <hr class="wire">

    <div class="content-00">
        <div class="box" v-for="item in MemeberListSearch" >
                
                <img v-bind:src="item.image" v-bind:alt="item.image" class="coursephoto"/>
            <div class="boxcontent">
                
                <div class="teacher">${item.name}老師</div>
                <div class="phone">分機${item.extension}</div>
                <div class="mail">${item.email}</div>
            </div>
            
        </div></div>

</section>

<script>

    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFToken';
    let downloadVue = new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: {
            search: "",
            type: "",
            dataList: [],
        },
        mounted: function () {
            axios.post("{% url 'apigetdblist' 'Memebers' %}")
                .then((response) => {
                    // getdata 得到的是陣列
                    let getdata = response.data;
                    console.log(getdata);
                    this.dataList = getdata;
                })
                .catch((error) => console.log(error));
        },
        methods: {
            onClick(id) {
                window.open(id);
            }
        }, computed: {
            MemeberListSearch() {
                if (this.type === "") {
                    return this.dataList.filter(box => {
                        return box.name.includes(this.search)||box.extension.includes(this.search)||box.email.includes(this.search)||box.work.includes(this.search)||box.location.includes(this.search);
                    })
                }
            }
        }


    })
</script>
{% endblock %}