{% extends 'FrontEnd/base/base.html' %}

{% block import %}

{% load static%}
<link rel="stylesheet" href="{% static 'css/members_intro/members_intro.css' %}">

<script src="{% static 'js/vue.js' %}"> </script>
<script src="{% static 'js/axios.min.js' %}"> </script>

{% endblock %}

{% block main %}

<section class="container-1" id="app">
    <input class="searchbox" type="text" v-model="search" placeholder="Search ..." />
    <div class="title-1">成員快訊</div>

    <table class="tablestyle" cellpadding="20" style="word-break:break-all;">
        <thead>
            <tr class="bg-danger" style="height: auto; ">
                <th style="width: 11%;" class="type-3">姓名</th>
                <th style="width: 20%;" class="type-2">分機</th>
                <th style="width: 24%;">信箱</th>
                <th style="width: 27%;">業務職掌</th>
                <th style="width: 20%;" class="type-1">位置</th>
            </tr>
        </thead>
        <tbody style="height: auto;">
            <tr style="height: auto; line-height: 32px;" v-for="item in MemeberListSearch" class="bg-danger-1">
                <td style="text-align: left;" class="type-3">${item.name}</td>
                <td style="text-align: justify;" class="type-2">
                    <img v-bind:src="item.image" v-bind:alt="item.image" />
                </td>
                <td style="text-align: justify;" class="type-2">${item.extension}</td>
                <td style="text-align: justify;">${item.email}</td>
                <td style="text-align: justify;">${item.work}</td>
                <td style="text-align: justify;" class="type-1">${item.location}</td>
            </tr>
        </tbody>
    </table>

</section>

<script>

    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFToken';
    let downloadVue = new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: {
            search: "",
            type: "",
            dataList: [],
        },
        mounted: function () {
            axios.post("{% url 'apigetdblist' 'Memebers' %}")
                .then((response) => {
                    let getdata = response.data;
                    console.log(getdata);
                    this.dataList = getdata;
                })
                .catch((error) => console.log(error));
        },
        methods: {
            onClick(id) {
                window.open(id);
            }
        }, computed: {
            MemeberListSearch() {
                if (this.type === "") {
                    return this.dataList.filter(box => {
                        return box.name.includes(this.search)||box.extension.includes(this.search)||box.email.includes(this.search)||box.work.includes(this.search)||box.location.includes(this.search);
                    })
                }
            }
        }


    })
</script>
{% endblock %}