.container {
    font-family: Roboto;
    font-style: normal;
    /*margin: 100px auto;*/
    padding-top: 40px;
}

.title {
    font-size: 48px;
    line-height: 56px;
    display: flex;
    margin: 90px auto 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-shadow: 1px 1px 0.5px rgba(106, 106, 106, 0.67);
}

.tablestyle {
    border-style: solid;
    border-color: #000000;
    border-collapse: collapse;
    margin: 40px auto 110px;
    font-size: 24px;
    color: #000000;
}

.bg-danger {
    font-size: 28px;
    line-height: 33px;
}

.searchbox {
    width: 24%;
    height: 35px;
    position: relative;
    background-color: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.searchtext {
    font-size: 20px;
    color: #CCCCCC;
    line-height: 24px;
    position: relative;
    top: 20%;
}

.rightspace {
    float: right;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
}

.searchspsace {
    margin-top: 40px;
}

.text-1 {
    float: left;
    width: 140px;
    height: 30px;
    border-radius: 4px;
    background-color: #FF4F18;
    margin: auto 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-2 {
    float: left;
    width: 50px;
    height: 30px;
    border-radius: 4px;
    background-color: #449BEB;
    margin: auto 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-3 {
    float: left;
    width: 155px;
    height: 30px;
    border-radius: 4px;
    background-color: #A237C8;
    margin: auto 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-4 {
    float: left;
    width: 140px;
    height: 30px;
    border-radius: 4px;
    background-color: #37C894;
    margin: auto 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:767px) {
    .rightspace {
        float: left;
        width: auto;
        margin-bottom: 10px;
    }

    .text-1 {
        margin: 2px;
    }

    .text-2 {
        margin: 2px;
    }

    .text-3 {
        margin: 2px;
    }

    .text-4 {
        margin: 2px;
    }
}