<section class="news" id="app" style="margin-top: 3%;">
    <div class="container-fluid bg-light p-2">
        <div class="container text-center">
            <h2 class="title">最新消息</h2>
            <ul class="news-section list-unstyled">
                <!-- 迴圈 news.paginator.object_list -->
                <!-- 顯示三筆資料 -->
                {% for n in news %}
                <li class="row my-1">
                    <div class="col-sm-6">
                        <h4>{{ n.created_date }}</h4>
                    </div>
                    <div class="col-sm-6">
                        <h4 class="changecolor" ><a href="{% url 'thesingle' 'News' n.pk %}" style=" color: #7dc3c2;">{{ n.title }}</a></h4>
                    </div>
                </li>
                {% endfor %}
            </ul>

            <ul class="pagination">
                {% for i in news.paginator.page_range %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{ i }}"></a>
                </li>
                {% endfor %}
            </ul>
            <!-- 參考 https://ithelp.ithome.com.tw/articles/10196973 -->
        </div>
    </div>

</section>