<section class="news">
    <div class="container-fluid bg-light p-2">
        <div class="container text-center">
            <h2 class="title">最新消息</h2>
            <ul class="news-section list-unstyled">
                <li class="row my-1">
                    <div class="col-sm-6">
                        <h4>2022/01/29</h4>
                    </div>
                    <div class="col-sm-6">
                        <h4>最新消息標題</h4>
                    </div>
                </li>
                <li class="row my-1">
                    <div class="col-sm-6">
                        <h4>2022/01/24</h4>
                    </div>
                    <div class="col-sm-6">
                        <h4>最新消息標題</h4>
                    </div>
                </li>
                <li class="row my-1">
                    <div class="col-sm-6">
                        <h4>2022/01/02</h4>
                    </div>
                    <div class="col-sm-6">
                        <h4>最新消息標題</h4>
                    </div>
                </li>
            </ul>

            <ul class="pagination">
                <li class="page-item active">
                    <a class="page-link" href="#"></a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#"></a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#"></a>
                </li>
            </ul>
            <!-- 參考 https://ithelp.ithome.com.tw/articles/10196973 -->
        </div>
    </div>

</section>