{% extends 'FrontEnd/base/base.html' %}

{% block import %}

{% load static%}
<link rel="stylesheet" href="{% static 'css/equipment_intro/equipment_intro.css' %}">


<script src="{% static 'js/vue.js' %}"> </script>
<script src="{% static 'js/axios.min.js' %}"> </script>
{% endblock %}

{% block main %}


<section class="container-1" id="app">
    <div class="title-1">設備介紹</div>


    <input class="searchbox" type="text" v-model="search" placeholder="Search ..." />

    <table class="tablestyle" cellpadding="20" style="word-break:break-all;">
        <thead>
            <tr class="bg-danger" style="height: auto; ">
                <th style="width: 30%;">設備名稱</th>
                <th style="width: 70%;">設備介紹</th>
            </tr>
        </thead>
        <tbody style="height: auto;">
            <tr style="height: auto; line-height: 32px;" v-for="item in ListSearch">
                <td style="text-align: left;">${item.name}</td>
                <td style="text-align: justify;">
                    ${item.description}</td>
            </tr>
        </tbody>
    </table>


</section>


<script>

    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFToken';
    let downloadVue = new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: {
            search: "",
            type: "",
            dataList: [],
        },
        mounted: function () {
            axios.post("{% url 'apigetdblist' 'Equipment' %}")
                .then((response) => {
                    let getdata = response.data;
                    console.log(getdata);
                    this.dataList = getdata;
                })
                .catch((error) => console.log(error));
        },
        methods: {
            onClick(id) {
                window.open(id);
            }
        }, computed: {
            ListSearch() {
                if (this.type === "") {
                    return this.dataList.filter(box => {
                        return box.name.includes(this.search);
                    })
                }
            }
        }


    })
</script>

{% endblock %}