{% extends 'FrontEnd/base/base.html' %}

{% block import %}

{% load static%}
<link rel="stylesheet" href="{% static 'css/equipment_intro/equipment_intro.css' %}">


<script src="{% static 'js/vue.js' %}"> </script>
<script src="{% static 'js/axios.min.js' %}"> </script>
{% endblock %}

{% block main %}


<section class="container-1" id="app">
    <div class="title-1">設備介紹</div>


    <input class="searchbox" type="text" v-model="search" placeholder="Search ..." />

    <table class="tablestyle" cellpadding="20" style="word-break:break-all;">
        <thead>
            <tr class="bg-danger" style="height: auto; ">
                <th style="width: 50%;" class="type-3">設備內容</th>
                <th style="width: 10%;" class="type-2">設備數量</th>
                <th style="width: 40%;" class="type-1">備註</th>
            </tr>
        </thead>
        <tbody style="height: auto;">
            {% for e in equipment %}
            <!-- v-for="item in ListSearch" -->
            <tr style="height: auto; line-height: 32px;"   class="type-3">
                <td style="text-align: left;">
                    <!-- ${item.content | safe} -->
                    {{ e.content | safe }}
                </td>
                <td style="text-align: justify;"  class="type-2">
                    <!-- ${item.number | linebreaksbr} -->
                    {{ e.number | linebreaksbr}}
                </td>
                <td style="text-align: left;" class="type-1">
                    <!-- <img class="" v-bind:src="item.image" v-bind:alt="item.image" /> -->
                    <!-- ${item.remark | linebreaksbr} -->
                    {{ e.remark | linebreaksbr}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</section>


<script>

    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFToken';
    let downloadVue = new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: {
            search: "",
            type: "",
            dataList: [],
        },
        mounted: function () {
            axios.post("{% url 'apigetdblist' 'Equipment' %}")
                .then((response) => {
                    let getdata = response.data;
                    this.dataList = getdata;
                })
                .catch((error) => console.log(error));
        },
        methods: {
            onClick(id) {
                window.open(id);
            }
        }, computed: {
            ListSearch() {
                if (this.type === "") {
                    return this.dataList.filter(box => {
                        return box.content.includes(this.search);
                    })
                }
            }
        }


    })
</script>

{% endblock %}