.container-0 {
    font-family: Roboto;
    font-style: normal;
    width: 65%;
    margin: auto;
}

.container-1 {
    margin: 50px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.searchbox {
    width: 15%;
    height: 35px;
    position: static;
    background-color: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-top: -95px;
    float: right;
}

.searchtext {
    font-size: 20px;
    color: #CCCCCC;
}

.rightspace {
    width: auto;
    position: absolute;
    float: left;
    font-size: 20px;
    line-height: 26px;
    text-shadow: 1px 1px 0.5px rgba(106, 106, 106, 0.67);
    margin-left: -8%;
    margin-top: 35px;
}

.textimg {
    display: flex;
    align-items: center;
}
.color-1 {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    text-align: justify;
}

.color-1:hover {
    background-color: #f5a626;
    color: #ffffff;
    padding: 2px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    text-align: justify;
}

.color-2 {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    text-align: justify;
}

.color-2:hover {
    background-color: #7dc3c2;
    color: #ffffff;
    padding: 2px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    text-align: justify;
}

.color-3 {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    text-align: justify;
}

.color-3:hover {
    background-color: #00908d;
    color: #ffffff;
    padding: 2px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    text-align: justify;
}

.content-1 {
    margin: auto 10px auto 10px;
    cursor: pointer;
}

.newbox {
    float: left;
    width: 25%;
    height: 135px;
    margin: 22px 25px;
    padding: auto;
    background: #7dc3c2;
    border: 3px solid #7dc3c2;
    box-sizing: border-box;
    box-shadow: 2px 2px 1px rgba(92, 3, 3, 0.25);
    cursor: pointer;
}

.datebox {
    width: 30%;
    height: 100%;
    position: relative;
    right: 0;
    background-color: #7dc3c2;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    display: flex;
}

.date {
    /*padding-left: 12px;*/
    margin: auto;
    color: rgb(255, 255, 255);
}

.whitebox {
    width: 70%;
    height: 100%;
    position: relative;
    background-color: #ffffff;
    top: -100%;
    left: 30%;
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 32px;
}

.title-1 {
    display: flex;
    align-items: center;
    margin: 36px auto;
    width: 80%;
    /*flex-flow: row wrap;*/
    justify-content: center;
    line-height: 46px;
    font-size: 36px;
    text-shadow: 1px 1px 0.5px rgba(106, 106, 106, 0.67);
}

.second_title {
    width: 85%;
    position: relative;
    margin-left: 5%;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    text-align: center;
}

@media (max-width:1440px) {
    .searchbox {
        margin-right: -5%;
    }
}

@media (max-width: 1280px) {
    .second_title{
        font-size: 22px;
        line-height: 27px;
    }
    .content-1{
        font-size: 20px;
        line-height: 24px;
    }
    .title-1 {
        font-size: 32px;
        line-height: 40px;
    }
    .newbox {
        height: 120px;
    }
    .datebox {
        font-size: 18px;
    }
    .rightspace {
        margin-left: -12%;
    }
    .searchbox {
        margin-right: -10%;
    }
}

@media (max-width: 1200px) {
    .searchbox {
        margin-right: -15%;
    }
}

@media (max-width:991px) {
    .rightspace {
        float: inherit;
        position: relative;
        margin-left: 0px;
        width:fit-content;
    }
    .container-1 {
        margin: 10px auto;
    }
    .newbox {
        height: 105px;
        width: 27%;
        margin: 20px 10px;
    }
    .datebox {
        font-size: 16px;
    }
    .second_title{
        font-size: 20px;
        line-height: 23px;
    }
    .content-1{
        font-size: 18px;
        line-height: 21px;
    }
    .title-1 {
        font-size: 30px;
        line-height: 36px;
    }
    .searchbox {
        width: 30%;
    }
}

@media (max-width: 767px) {
    .second_title {
        font-size: 18px;
    }
    .container-1 {
        width: 120%;
        margin-left: -10%;
    }
    .datebox {
        font-size: 14px;
    }
}

@media (max-width: 580px) {
    .second_title {
        font-size: 16px;
    }
    .datebox {
        font-size: 13px;
    }
}

@media (max-width: 520px) {
    .newbox {
        height: 120px;
        width: 60%;
    }
    .second_title {
        font-size: 18px;
    }
    .datebox {
        font-size: 15px;
    }
}

@media (max-width:460px) {
    .datebox {
        font-size: 13px;
    }
    .second_title{
        font-size: 16px;
        line-height: 18px;
    }
    .title-1 {
        font-size: 28px;
        line-height: 32px;
    }
}