{% extends 'FrontEnd/base/base.html' %}

{% block import %}

{% load static%}
<link rel="stylesheet" href="{% static 'css/course/course_list.css' %}">
<script src="{% static 'js/vue.js' %}"> </script>
<link rel="stylesheet" href="{% static 'css/fontawesome-free-6.0.0-web/css/all.min.css' %}">


{% endblock %}

{% block main %}


<section class="container-0" id="app">
    <div class="searchspace">
        <input class="searchbox" type="text" v-model="search" placeholder="Search 課程名稱.." />
            <div class="rightspace">
                <span class="fa-solid fa-wrench"></span>
                <div class="wire">
                    <p class="content">專業實作課程</p>
                </div>
                <span class="fa-solid fa-gavel"></span>
                <div class="wire">
                    <p class="content">核心實作課程</p>
                </div>
                <span class="fa-solid fa-hammer"></span>
                <p class="content">微學分課程及工作訪</p>
            </div>
    </div>

    <div class="container">

        <div class="box" v-for="classbox in filteredList">
            <div class="markbox">
                <p class="amark">${classbox.type}</p>
            </div>
            <div class="coursephoto"></div><br>
            <div class="classdate">${classbox.date}</div>
            <div class="classtitle">${classbox.classname}</div>
            <div class="classcontent">${classbox.classtext} </div>
        </div>

    </div>
</section>

<script>
    let classvue = new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: {
            search: "",
            classbox: [{ "classname": "x", "classtext": "123" }, { "classname": "xEE", "classtext": "1243" }]
        },
        computed: {
            filteredList() {
                return this.classbox.filter(post => {
                    return post.classname.includes(this.search)
                })
            }
        }

    })


</script>

{% endblock %}