{% extends 'FrontEnd/base/base.html' %}

{% block import %}

{% load static%}
<link rel="stylesheet" href="{% static 'css/course/course_list.css' %}">
<script src="{% static 'js/vue.js' %}"> </script>
<script src="{% static 'js/axios.min.js' %}"> </script>
<link rel="stylesheet" href="{% static 'css/fontawesome-free-6.0.0-web/css/all.min.css' %}">


{% endblock %}

{% block main %}


<section class="container-0" id="app">
    <div class="searchspace">

        <div class="rightspace">
            <div class="wire">
                <div class="color-1">
                    <span class="fa-solid fa-wrench"></span>
                    <p class="content" @click="changeType('專業')">專業實作課程</p>
                </div>
            </div>
            <div class="wire">
                <div class="color-2">
                    <span class="fa-solid fa-gavel"></span>
                    <p class="content" @click="changeType('核心')">核心實作課程</p>
                </div>
            </div>
            <div class="color-3">
                <span class="fa-solid fa-hammer"></span>
                <p class="content">微學分課程及工作訪</p>
            </div>

        </div>
        <input class="searchbox" type="text" v-model="search" placeholder="Search 課程名稱.." />
    </div>


    <div class="container-1">
        <div class="box" v-for="classbox in filteredList" v-bind:class="classbox.typecss">
            <img class="coursephoto" v-bind:src="'{{MEDIA_URL}}'+classbox.image" v-bind:alt="classbox.image" />
            <div class="classdate">${classbox.update_date}</div>

            <div class="markbox">
                <p class="amark">${classbox.type}</p>
            </div>

            <div class="classtitle">${classbox.title}</div>
            <div class="classcontent" v-html="classbox.content"> </div>
        </div>

    </div>
</section>

<script>

    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFToken';
    let classvue = new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: {
            search: "",
            type: "",
            classbox: []
        },
        mounted: function () {
            axios.post("{% url 'apigetdblist' 'course' %}")
                .then((response) => {
                    let getdata = response.data.datalist;
                    for (let i = 0; i < getdata.length; i++) {
                        if (getdata[i].type == "專業")
                            getdata[i]["typecss"] = 'coursecolor-1';
                        else
                            getdata[i]["typecss"] = 'coursecolor-2';
                    }
                    console.log(getdata)
                    this.classbox = getdata;
                })
                .catch((error) => console.log(error));
        },
        methods: {
            changeType(gettype) {
                if (this.type == gettype)
                    this.type = ""
                else
                    this.type = gettype
            }

        },
        computed: {

            filteredList() {
                if (this.type === "") {
                    return this.classbox.filter(box => {
                        return box.title.includes(this.search)
                    })
                } else {
                    return this.classbox.filter(box => {
                        return box.type.includes(this.type)
                    })
                }
            }
        }

    })


</script>

{% endblock %}