{% extends 'FrontEnd/base/base.html' %}

{% block import %}

{% load static%}
<link rel="stylesheet" href="{% static 'css/space_intro/space_intro.css' %}">
<script src="{% static 'js/vue.js' %}"> </script>
<script src="{% static 'js/axios.min.js' %}"> </script>
{% endblock %}

{% block main %}

<section class="container-1" id="app">
    <div class="title-1">空間介紹</div>

    <input class="searchbox" type="text" v-model="search" placeholder="Search ..." />


    <table class="tablestyle" cellpadding="20" style="word-break:break-all;">
        <thead>
            <tr class="bg-danger" style="height: 80px; ">
                <th style="width: 11%; text-align: center;" class="type-2">教室<br>代碼</th>
                <th style="width: 18%; ">教室名稱</th>
                <th style="width: 27%; ">空間介紹</th>
                <th style="width: 11%; text-align: center;" class="type-1">容納<br>人數</th>
                <th style="width: 33%; ">設備資訊</th>
            </tr>
        </thead>
        <tbody style="height: auto;">
            <tr style="height: auto; line-height: 32px;" v-for="item in ListSearch">
                <td style="text-align: center;" class="type-2">${item.code}</td>
                <td style="text-align: justify;">${item.name}</td>
                <td style="text-align: justify;">
                    ${item.space_description}</td>
                <td style="text-align: center;" class="type-1">${item.number}</td>
                <td style="text-align: justify;">
                    ${item.equipment_description}</td>
            </tr>
        </tbody>
    </table>


</section>


<script>

    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFToken';
    let downloadVue = new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: {
            search: "",
            dataList: [],
        },
        mounted: function () {
            axios.post("{% url 'apigetdblist' 'Space' %}")
                .then((response) => {
                    let getdata = response.data;
                    console.log(getdata);
                    this.dataList = getdata;
                })
                .catch((error) => console.log(error));
        },
        methods: {
        }, computed: {
            ListSearch() {
                return this.dataList.filter(box => {
                    return box.name.includes(this.search)|| box.code.includes(this.search)|| box.equipment_description.includes(this.search);
                })
            }
        }


    })
</script>


{% endblock %}