.professional {
    .bg-cover {
        border: solid 2px white;
        background-size: cover;
        background-position: center center;
        position: relative;
        &:hover {
            transform: scale(1.05);
            transition: 0.5s;
            z-index: 2;
        }
    }
    .professional-title {
        position: absolute;
        right: 10px;
        bottom: 0;
        color: white;
    }
    .img-fluid {
        width: 70%;
        height: 70%;
    }
    .new-tech {
        .text-right {
            .text-dark {
                margin-right: 15%; 
                line-height: 5rem;
            }
        }
    }
}

@media (max-width: 576px) {
    .convener {
        height: 50% !important;
    }
    .new-tech {
        margin-top: 600px;
        .img-fluid {   //new
            width: 100%;
        }
        .text-right {
            .text-dark {
                margin-right: 0px !important;
            }
        }
    }
}
