<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    {% load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.min.css '%}" />


    <!-- 外加引入 -->
    {% block import %}

    {% endblock %}
</head>

<body>
    {% include 'BackEnd/base/header.html' %}
    {% include 'BackEnd/base/nav.html' %}

    {% block main %}

    {% endblock %}

    {% include 'BackEnd/base/footer.html' %}
</body>

</html>