<link rel="stylesheet" href="../../../../static/css/base_single/base_single.css">

<section class="container">
    <div class="title">專業領域小組 / 元宇宙</div>
    <hr class="wire">
    <div class="second-title">1. 電腦VR</div>
    <div class="content">內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容</div>
    <img src="../../../../static/img/base_single/photo.png" class="img">
    <div class="second-title">2. 手機VR</div>
    <div class="content">內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容</div>

    <div class="tablesection">
        <div class="second-title-2">核心技術能力</div>
        <table cellpadding="10"; style="width: 100%; height: 500px;" border=" 1px solid; border-collapse:collapse;" class="tablestyle">
            <tr style="height: 90px; background-color: #CCCCCC;">
                <th style="width: 50px;">核心技術能力</th>
                <th style="width: 150px; text-align: left;padding-left: 32px;">說明</th>
            </tr>
            <tr>
                <td style="width: 50px; text-align: center; vertical-align: auto;">-核心技術能力-</td>
                <td style="width: 150px; text-align: left; padding-left: 32px;">內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容</td>
            </tr>
            <tr style="background-color: #EEEEEE;">
                <td style="width: 50px; text-align: center; vertical-align: auto;">-核心技術能力-</td>
                <td style="width: 150px; text-align: left; padding-left: 32px;">內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容</td>
            </tr>
            <tr>
                <td style="width: 50px; text-align: center; vertical-align: auto;">-核心技術能力-</td>
                <td style="width: 150px; text-align: left; padding-left: 32px;">內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容</td>
            </tr>
            <tr style="background-color: #EEEEEE;">
                <td style="width: 50px; text-align: center; vertical-align: auto;">-核心技術能力-</td>
                <td style="width: 150px; text-align: left; padding-left: 32px;">內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容</td>
            </tr>
        </table>
    </div>

</section>
