<section>
    <div class="container text-center">
        <h2 class="title">課程介紹</h2>
        <h4 class="sub-title">帶領你親自實作！<span class="hr"> ——— </span>讓你在大學不是只讀書</h4>
    
        <ul class="row list-unstyled course">
            <li class="col-12 col-lg-4 course-item">
                <div class="card bg-light h-100">
                    <div class="card-body">
                        <h5 class="card-title">專業實作課程</h5>
                        
                        <div class="hover-text">
                            <p class="card-text">實作、實務型課程的開發與設計，除培育學生該學門領域的專業能力、跨域能力、實務經驗、實務能力外，亦須兼顧執行能力、國際化能力、創新與創業能力等實作力，以及專業倫理、領導能力、決策能力等軟實力</p>
                            <a href="#" class="btn btn-primary">查看更多介紹</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-12 col-lg-4 course-item">
                <div class="card bg-light h-100">
                    <div class="card-body">
                        <h5 class="card-title">核心實作課程</h5>
                        <div class="hover-text">
                            <p class="card-text">課程內容含核心職能養成、企業人文與創新創業、創客實作及職場體驗及見習等4門課程，提供學生跨領域且多元學習。</p>
                            <a href="#" class="btn btn-primary">查看更多介紹</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-12 col-lg-4 course-item">
                <div class="card bg-light h-100">
                    <div class="card-body">
                        <h5 class="card-title">微學分課程及工作坊</h5>
                        <div class="hover-text">
                            <p class="card-text">微學分課程為具特定學習主題之微課程組合，每一微課程以4小時為限，
                                以產業實務及實作為主，形式包括工作坊、實作研習、演講或講座、參
                                訪、模擬競賽、微型數位學習及服務學習等短時性而簡練之課程規劃。</p>
                            <a href="#" class="btn btn-primary">外部網站</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>