{% extends 'FrontEnd/base/base.html' %}

{% block import %}

{% load static%}
<link rel="stylesheet" href="{% static 'css/download/download.css' %}">

<script src="{% static 'js/vue.js' %}"> </script>
<script src="{% static 'js/axios.min.js' %}"> </script>

{% endblock %}

{% block main %}

<section class="container-1" id="app">
    <div class="rightspace">
        <div class="text-1">專業領域小組</div>
        <div class="text-2">課程</div>
        <div class="text-3">設備及物品借用</div>
        <div class="text-4">TA實習申請</div>
    </div>

    <div class="searchbox">
        <input class="searchbox" type="text" v-model="search" placeholder="Search .." />
    </div>

    <!-- <table cellpadding="10" ; style="width: 100%; " border=" 1px solid; border-collapse:collapse;" class="tablestyle"> -->
    <table class="tablestyle">
        <thead>
            <tr class="bg-danger">
                <th style="width: 18%; padding:25px">標題</th>
                <th style="width: 23%; padding-left: 25px;">類型</th>
                <th style="width: 26%; padding-left: 25px;">說明</th>
                <th style="width: 18%; padding-left: 25px;">日期</th>
                <th style="width: 15%; padding-left: 25px;">下載</th>
            </tr>
        </thead>
        <tbody style="height: auto;">
            <tr style="height: auto; line-height: 32px;" v-for="item in downloadListSearch">
                <td style="text-align: justify;padding-left: 20px;">${ item.title }</td>
                <td style="padding-left: 20px; padding-right: 20px; text-align: justify;">${item.type}</td>
                <td style="padding-left: 20px; padding-right: 20px; text-align: justify;">${item.content}</td>
                <td style="text-align: justify; padding-left: 20px;">${item.update_date}</td>
                <td style="padding-left: 20px; padding-right: 20px; text-align: justify;">
                    <button href="#" @click="onClick(item.id)">下載</button>
                </td>
            </tr>
        </tbody>
    </table>


</section>
<script>

    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFToken';
    let downloadVue = new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: {
            search: "",
            type: "",
            downloadList: [],
        },
        mounted: function () {
            axios.post("{% url 'apigetdblist' 'download' %}")
                .then((response) => {
                    let getdata = response.data;
                    console.log(getdata);
                    this.downloadList = getdata;
                })
                .catch((error) => console.log(error));
        },
        methods: {
            onClick(id) {
                window.open(id);
                // window.open('http://127.0.0.1:8000/download/1')
            }
        }, computed: {
            downloadListSearch() {
                if (this.type === "") {
                    return this.downloadList.filter(box => {
                        return box.title.includes(this.search)
                    })
                }
            }
        }


    })
</script>
{% endblock %}