<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-5 about-us-bg-primary">
                <h3 class="title">
                    自造者中心
                </h3>
                <p>
                    為推動創新自造教育運動，以大學創新基地為基礎，向下扎根推廣自造教育，著眼培養產業創新人才；並串聯與開放相關空間，讓自造者有一個可以相互分享與合作之場域。藉由創意教室和教材的學習，跨領域工作坊之推廣活動，原型製作之創意實踐，以及參與國際鏈結，作為發展推廣社會大眾動手實作之學習基地。
                    <br />
                    <br />
                    基於此背景之下，經教育部核定設置中部創新基地:自造者中心
                </p>
                <h4 class="sub-title">
                    理念
                </h4>
                <p>
                    提供實作設備及空間與中區夥伴學校申請使用，共同推動各項自造教育推動
                    方案，與多位夥伴學校，共同成立中區自造者網絡，並串聯夥伴學校及在地
                    政府資源，規劃共同推動創新自造教育之展覽、競賽、營隊、工作坊、種子
                    教師研習營…等各項推動方案，以宣導創新自造教育的理念及具體作為。
                </p>
            </div>
            <div class="col-7 about-us-bg-secondary">
                <h2 class="title">
                    Maker Center
                </h2>
                <div class="heightlight">CNC<span>/</span>AVA</div>
                <h5 class="sub-title">
                    <b>
                          提供眾多優良設備
                        </b>
                    </h5>



            </div>
        </div>
    </div>
</section>