.container-1 {
    font-family: Roboto;
    font-style: normal;
    width: 65%;
    margin: auto;
}
.wire {
    position: relative;
    width: 80%;
    border: 1.5px solid #000000;
    margin-bottom: 40px;
}
.title-1 {
    width: 78%;
    font-size: 36px;
    line-height: 46px;
    margin: 90px auto 30px;
    text-align: left;
    text-shadow: 1px 1px 0.5px rgba(106, 106, 106, 0.67);
}

.tablestyle {
    border: 2px solid;
    border-color: #000000;
    border-collapse: collapse;
    margin: 40px auto 110px;
    font-size: 24px;
    color: #000000;
}

.bg-danger {
    font-size: 28px;
    line-height: 33px;
}

.searchbox {
    width: 15%;
    height: 35px;
    position: static;
    float: right;
    background-color: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: -135px;
    display: flex;
    align-items: center;
    margin-right: -2%;
}

.searchtext {
    font-size: 20px;
    color: #CCCCCC;
    line-height: 24px;
    position: relative;
    top: 20%;
}

.coursephoto {
    width: 176px;
    height: auto;
    float: left;
    background-color: #ffffff ;
    margin-right: 8px;
}
.box {
    cursor: pointer;
    width: 38%;
    margin-left: 22px;
    margin-right: 22px;
    margin-bottom: 26px;
    padding: auto;
    background-color: #7dc3c2;
    border: 3px solid #7dc3c2;
    height: fit-content;
}
.content-00 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 18px;
}
.boxcontent {
    display: block;
    margin-top: 4%;
}


@media (max-width:1650px) {
    .box {
        width: 40%;
    }

}
@media (max-width:1540px) {
    .box {
        height: fit-content;
    }
    .boxcontent {
        word-break: break-all;
        padding: 3px;
    }
}

@media (max-width: 1280px) {
    .bg-danger {
        font-size: 24px;
        line-height: 27px;
    }
    .bg-danger-1{
        font-size: 21px;
        line-height: 24px;
    }
    .title-1 {
        font-size: 34px;
        line-height: 44px;
    }
    .searchbox {
        margin-right: -13%;
    }
}

@media (max-width: 767px) {
    .bg-danger {
        font-size: 20px;
        line-height: 23px;
    }
    .bg-danger-1{
        font-size: 18px;
        line-height: 21px;
    }
    .title-1 {
        font-size: 30px;
        line-height: 35px;
        margin-top: 50px;
    }
    .searchbox {
        margin-top: -95px;
    }
}

@media (max-width: 991px) {
    .searchbox {
        width: 40%;
        margin-right: 0%;
    }
}

@media (max-width: 721px) {
    .box {
        height: fit-content;
        width: 182px;
    }
    .coursephoto {
        margin-right: 0px;
    }
}

@media (max-width: 450px) {

    .boxcontent {
        word-break: break-all;
        padding: 3px;
    }
}