.container-1 {
    font-family: Roboto;
    font-style: normal;
    width: 65%;
    margin: auto;
}

.title-1 {
    font-size: 48px;
    line-height: 56px;
    display: flex;
    margin: 90px auto 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-shadow: 1px 1px 0.5px rgba(106, 106, 106, 0.67);
}

.tablestyle {
    border: 2px solid;
    border-color: #000000;
    border-collapse: collapse;
    margin: 40px auto 110px;
    font-size: 24px;
    color: #000000;
}

.bg-danger {
    font-size: 28px;
    line-height: 33px;
}

.searchbox {
    width: 15%;
    height: 35px;
    position: static;
    float: right;
    background-color: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: -135px;
    display: flex;
    align-items: center;
    margin-right: -2%;
}

.searchtext {
    font-size: 20px;
    color: #CCCCCC;
    line-height: 24px;
    position: relative;
    top: 20%;
}

@media (max-width:1460px) {
    .type-1{
        display: none;
    }

}
@media (max-width:1320px) {
    .type-2{
        display: none;
    }

}
@media (max-width:915px) {
    .type-3{
        width: 13%;
    }

}


@media (max-width: 1280px) {
    .bg-danger {
        font-size: 24px;
        line-height: 27px;
    }
    .bg-danger-1{
        font-size: 21px;
        line-height: 24px;
    }
    .title-1 {
        font-size: 40px;
        line-height: 46px;
    }
    .searchbox {
        margin-right: -13%;
    }
}

@media (max-width: 767px) {
    .bg-danger {
        font-size: 20px;
        line-height: 23px;
    }
    .bg-danger-1{
        font-size: 18px;
        line-height: 21px;
    }
    .title-1 {
        font-size: 30px;
        line-height: 35px;
        margin-top: 50px;
    }
    .searchbox {
        margin-top: -95px;
    }
}

@media (max-width: 991px) {
    .searchbox {
        width: 40%;
        margin-right: 0%;
    }
}