<link rel="stylesheet" href="../../../../static/css/course-page/course-page.css">

<section class="container">
    
    <div class="titlespace">
        <img src="../../../../static/img/course-page/wrench.png" class="titleimg">
        <div class="date">2022/01/29</div>
        <div class="title">課程名稱</div>
    </div>
    <hr class="wire">
    <div class="content">內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容</div>
    <img src="../../../../static/img/course-page/photo.png" class="img">
    <div class="back"><div class="text">＜ 回上一頁</div></div>
    

</section>
